<div class="container">
  <div class="title">
    <h1>Which platform are you testing on?</h1>
  </div>
  <div class="container-main">
    <div onmouseover="" style="cursor: pointer;" class="connect-box" routerLink="/connect-select/{{ checksheetId }}">
      <span class="innerTextConnect">CONNECT</span>
    </div>
    <div onmouseover="" style="cursor: pointer;" class="immerse-box" routerLink="/immerse-select/{{ checksheetId }}">
      <span class="innerTextImmerse">IMMERSE</span>
    </div>
  </div>
</div>
