<div class="head-title">
  <h1>Select a <span class="connectColor">Connect</span> section to test</h1>
  <h4>Areas with a dark background have already been completed.</h4>
</div>

<mat-grid-list class="gList" cols="5" rowHeight="150px" gutterSize="20px">
  <mat-grid-tile class="tile1">
    <a routerLink="/test-connect/{{ checksheetId }}/registration/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-registration-96.png" alt="Reg Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>REGISTRATION</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile2">
    <a routerLink="/test-connect/{{ checksheetId }}/companysetup/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-new-company-96.png" alt="CSetup Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>COMPANY SETUP</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile3">
    <a routerLink="/test-connect/{{ checksheetId }}/eventcreation/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-create-96.png" alt="Event Creation Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>EVENT CREATION</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile4">
    <a routerLink="/test-connect/{{ checksheetId }}/boothsetup/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-atm-96.png" alt="Booth Setup Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>BOOTH SETUP</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile5">
    <a routerLink="/test-connect/{{ checksheetId }}/chatboxes/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-chat-96.png" alt="Chat Boxes Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>CHAT BOXES</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile6">
    <a routerLink="/test-connect/{{ checksheetId }}/lobby/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-shopping-mall-96.png" alt="Shopping Mall Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>LOBBY</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile7">
    <a routerLink="/test-connect/{{ checksheetId }}/networking/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-networking-manager-96.png" alt="Networking Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>NETWORKING</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile8">
    <a routerLink="/test-connect/{{ checksheetId }}/sessions/1">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-people-working-together-96.png" alt="Networking Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>SESSIONS</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile9">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-exhibitor-96.png" alt="Networking Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>EXHIBITORS</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile10">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-merge-files-96.png" alt="Networking Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>OTHER</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
