h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_69c78b0a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_69c78b0a_padding { margin: 10px; display: block;  }
#container_7a80750b { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_7a80750b_padding { margin: 10px; display: block;  }
#heading_68fc1c65 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_5526d82f { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5526d82f_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:right; }
#heading_4f89c297 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_6990e6f8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6990e6f8_padding { margin: 10px; display: block;  }
#container_d28b6b8 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:150px; background:none;  }
#container_d28b6b8_padding { margin: 10px; display: block;  }
#text_55235b83 { position:absolute; left:4%; top:46%; background:none;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_558f1a39 { vertical-align: top; position:relative; display: inline-block; width:17%; min-height:150px; background:none;  }
#container_558f1a39_padding { margin: 10px; display: block;  }
#text_15054823 { position:absolute; left:9%; top:43%; background:none;  }
#container_23e78b93 { vertical-align: top; position:relative; display: inline-block; width:12%; min-height:150px; background:none;  }
#container_23e78b93_padding { margin: 10px; display: block;  }
#text_114fb848 { position:absolute; left:5%; top:43%; background:none;  }
#container_63ddebe7 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#container_63ddebe7_padding { margin: 10px; display: block;  }
#container_f857295 { vertical-align: top; position:relative; display: inline-block; width:12%; min-height:150px; background:none;  }
#container_f857295_padding { margin: 10px; display: block;  }
#container_1cad1a91 { vertical-align: top; position:relative; display: inline-block; width:7%; min-height:150px; background:none;  }
#container_1cad1a91_padding { margin: 10px; display: block;  }
#container_46613699 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_46613699_padding { margin: 10px; display: block;  }
#container_14af7a0a { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:150px; background:none;  }
#container_14af7a0a_padding { margin: 10px; display: block;  }
#container_72631e1e { vertical-align: top; position:relative; display: inline-block; width:17%; min-height:150px; background:none;  }
#container_72631e1e_padding { margin: 10px; display: block;  }
#container_5b3afa51 { vertical-align: top; position:relative; display: inline-block; width:12%; min-height:150px; background:none;  }
#container_5b3afa51_padding { margin: 10px; display: block;  }
#container_2b87b586 { vertical-align: top; position:relative; display: inline-block; width:16%; min-height:150px; background:none;  }
#container_2b87b586_padding { margin: 10px; display: block;  }
#container_1c4ecbc4 { vertical-align: top; position:relative; display: inline-block; width:12%; min-height:150px; background:none;  }
#container_1c4ecbc4_padding { margin: 10px; display: block;  }
#container_76ff41d0 { vertical-align: top; position:relative; display: inline-block; width:7%; min-height:150px; background:none;  }
#container_76ff41d0_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 1200px)
{
		#container_d28b6b8 { width:100%;  }
		#container_558f1a39 { width:100%;  }
		#container_23e78b93 { width:100%;  }
		#container_63ddebe7 { width:100%;  }
		#container_f857295 { width:100%;  }
		#container_1cad1a91 { width:100%;  }
		#container_14af7a0a { width:100%;  }
		#container_72631e1e { width:100%;  }
		#container_5b3afa51 { width:100%;  }
		#container_2b87b586 { width:100%;  }
		#container_1c4ecbc4 { width:100%;  }
		#container_76ff41d0 { width:100%;  }
}
@media only screen and (max-width: 400px)
{
		#container_7a80750b { width:100%;  }
		#container_5526d82f { width:100%;  }
}
