<div class="head-title">
  <h1>Select an <span class="immerseColor">Immerse</span> section to test</h1>
  <h4>Areas with a dark background have already been completed.</h4>
</div>


<mat-grid-list class="gList" cols="5" rowHeight="150px" gutterSize="20px">
  <mat-grid-tile class="tile1">
    <a routerLink="test-connect-registration">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-registration-96.png" alt="Reg Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>LAUNCHER</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile2">
    <a routerLink="test-connect-companysetup">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-new-company-96.png" alt="CSetup Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>LOGIN</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile3">
    <a routerLink="test-connect-eventcreation">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-create-96.png" alt="Event Creation Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>LOAD IN PAGE</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile4">
    <a routerLink="test-connect-boothsetup">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <img src="../../../assets/icons/icons8-atm-96.png" alt="Booth Setup Icon">
        </mat-card-content>
        <mat-card-actions>
          <span>CHARACTER</span>
        </mat-card-actions>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile class="tile5">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-chat-96.png" alt="Chat Boxes Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>EXPO HALLS</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile6">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-shopping-mall-96.png" alt="Shopping Mall Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>LOBBY</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile7">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-networking-manager-96.png" alt="Networking Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>NETWORKING</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile8">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-people-working-together-96.png" alt="Networking Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>TUTORIALS</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile9">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-exhibitor-96.png" alt="Networking Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>BOARD ROOMS</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile10">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="../../../assets/icons/icons8-merge-files-96.png" alt="Networking Icon">
      </mat-card-content>
      <mat-card-actions>
        <span>TALKING</span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
