<div fxLayout="column" class="mainContainer" fxLayoutGap="3em">
  <div class="headerContainer" fxLayout="row">
    <div class="div1" fxFlex><span><h1>17 February 2022</h1></span></div>
    <div class="div2" fxFlex><span><h1>Issues: <span>07</span></h1></span></div>
  </div>
  <div class="labelHeaders" fxLayout="row">
    <span fxFlex>Description</span>
    <span fxFlex>Created By</span>
    <span fxFlex>Section</span>
    <span fxFlex>Clickup ID</span>
    <span fxFlex>Platform</span>
    <span fxFlex>Goto</span>
  </div>
  <div class="mainBody" fxLayout="column">
    <mat-card>

    </mat-card>
  </div>
</div>
